<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Order Data</title>

</head>

<body style="background-color: bisque;">
	<h1>Your Order</h1>
	<div>
		<strong>Name: </strong><%- name %><br>
		<strong>Email Address: </strong><%- email %><br>
		<strong>Address: </strong><%- address %><br>
    <br>

    <strong>Breakfast</strong>
    <ul>
      <li>Main: <%- breakfast%>      </li>
      <li>Drinks: <ul>
                    <li>Water: <%- breakfastWater %></li>
                    <li>Soda: <%- breakfastSoda %></li>
                    <li>Milk: <%- breakfastMilk %></li>
                    <li>Tea: <%- breakfastTea %></li>
                    <li>Juice: <%- breakfastJuice %></li>
                  </ul>
      </li>
      <li>Sides: <ul>
        <li>Yogurt: <%- breakfastYogurt %></li>
        <li>French Fries: <%- breakfastFries %></li>
        <li>Coder's Tears: <%- breakfastTears %></li>
        <li>Mixed Fruit: <%- breakfastFruit %></li>
        <li>Steamed Veggies: <%- breakfastVeggies %></li>
                </ul>
      </li>
    </ul>

    <strong>Lunch</strong>
    <ul>
      <li>Main: <%- lunch%>      </li>
      <li>Drinks: <ul>
                    <li>Water: <%- lunchWater %></li>
                    <li>Soda: <%- lunchSoda %></li>
                    <li>Milk: <%- lunchMilk %></li>
                    <li>Tea: <%- lunchTea %></li>
                    <li>Juice: <%- lunchJuice %></li>
                  </ul>
      </li>
      <li>Sides: <ul>
        <li>Potato Wedges: <%- lunchWedges %></li>
        <li>French Fries: <%- lunchFries %></li>
        <li>Mashed Potatoes <%- lunchPotatoes %></li>
        <li>Mixed Fruit: <%- lunchFruit %></li>
        <li>Steamed Veggies: <%- lunchVeggies %></li>
                </ul>
      </li>
    </ul>

    <strong>Dinner</strong>
    <ul>
      <li>Main: <%- dinner%>      </li>
      <li>Drinks: <ul>
                    <li>Water: <%- dinnerWater %></li>
                    <li>Soda: <%- dinnerSoda %></li>
                    <li>Milk: <%- dinnerMilk %></li>
                    <li>Tea: <%- dinnerTea %></li>
                    <li>Juice: <%- dinnerJuice %></li>
                  </ul>
      </li>
      <li>Sides: <ul>
        <li>Potato Wedges: <%- dinnerWedges %></li>
        <li>French Fries: <%- dinnerFries %></li>
        <li>Mashed Potatoes <%- dinnerPotatoes %></li>
        <li>Mixed Fruit: <%- dinnerFruit %></li>
        <li>Steamed Veggies: <%- dinnerVeggies %></li>
                </ul>
      </li>
    </ul>


	</div>

  <a href="/">HOME</a>

  <hr style="color: black;">

  <div style="text-align: center;">Oober <strong>Eats</strong> &reg;</div>

  <hr>
</body>

</html>